/* VARIABLES */

:root {
	/* default */
	--default_color: #333;
	--default_a_color: #0072BC;
	--default_a_hover_color: #039be5;
	
	/* header */
	--header_color: #fff;
	--header_background_color: #223;
	
	/* body */
	--body_background_color: #f8f8ff;
	
	/* left menu */
	--menu_background_color: #334;
	
	/* footer */
	--footer_color: #EEE;
	--footer_background_color: #445;
}

/* DEFAULT SETTINGS */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
ol,ul,dl,dt,dd {list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}

body,button,input,select,textarea{ color: var(--default_color); font-family:Arial,Verdana,sans-serif; font-size: 14px;}
a{ color: var(--default_a_color); cursor:pointer; text-decoration:none;}
a:visited{ color: var(--default_a_color);}
a:hover{ text-decoration: none; color: var(--default_a_hover_color);}

html, body {
	height: 100%;
}

h1 {
	font-size: 24px;
	margin: 1em 0;
}

h2 {
	font-size: 20px;
	margin: 1em 0;
}

h3 {
	font-size: 16px;
	margin: 1em 0;
}

/* GENERAL */

/* widths */

.width_1 { width: 1%; }
.width_5 { width: 5%; }
.width_10 { width: 10%; }
.width_15 { width: 15%; }
.width_20 { width: 20%; }
.width_25 { width: 25%; }
.width_30 { width: 30%; }
.width_33 { width: 33%; }
.width_333 { width: 33.3333%; }
.width_34 { width: 34%; }
.width_35 { width: 35%; }
.width_40 { width: 40%; }
.width_45 { width: 45%; }
.width_50 { width: 50%; }
.width_55 { width: 55%; }
.width_60 { width: 60%; }
.width_65 { width: 65%; }
.width_66 { width: 66%; }
.width_666 { width: 66.6666%; }
.width_67 { width: 67%; }
.width_70 { width: 70%; }
.width_75 { width: 75%; }
.width_80 { width: 80%; }
.width_85 { width: 85%; }
.width_90 { width: 90%; }
.width_95 { width: 95%; }
.width_99 { width: 99%; }
.width_100 { width: 100%; }
.width_auto { width: auto !important; }

.width_50px { width: 50px; }
.width_100px { width: 100px; }
.width_200px { width: 200px; }
.width_250px { width: 250px; }
.width_300px { width: 300px; }
.width_320px { width: 320px; }
.width_350px { width: 350px; }
.width_400px { width: 400px; }
.width_500px { width: 500px; }
.width_600px { width: 600px; }
.width_700px { width: 700px; }
.width_800px { width: 800px; }
.width_1100px { width: 1100px; }

.minwidth_0 { min-width: 0 !important; } /*evenement plus*/
.width_max_none { max-width: none !important; }

/* paddings */

.padding_0 { padding: 0 !important; }
.padding_left_10px { padding-left: 10px; }
.padding_left_20px { padding-left: 20px; }
.padding_left_50px { padding-left: 50px; }
.padding_right_10px { padding-right: 10px; }
.padding_right_20px { padding-right: 20px; }
.padding_right_50px { padding-right: 50px; }
.padding_top_10px { padding-top: 10px; }
.padding_top_20px { padding-top: 20px; }
.padding_top_50px { padding-top: 50px; }
.padding_bottom_10px { padding-bottom: 10px; }
.padding_bottom_20px { padding-bottom: 20px; }
.padding_bottom_50px { padding-bottom: 50px; }

/* margins */

.margin_0 { margin: 0 !important; }
.margin_10px { margin: 10px !important; }
.margin_left_10px { margin-left: 10px !important; }
.margin_left_20px { margin-left: 20px !important; }
.margin_left_50px { margin-left: 50px !important; }
.margin_right_10px { margin-right: 10px !important; }
.margin_right_20px { margin-right: 20px !important; }
.margin_right_50px { margin-right: 50px !important; }
.margin_top_10px { margin-top: 10px !important; }
.margin_top_20px { margin-top: 20px; }
.margin_top_50px { margin-top: 50px; }
.margin_bottom_10px { margin-bottom: 10px; }
.margin_bottom_20px { margin-bottom: 20px; }
.margin_bottom_50px { margin-bottom: 50px; }

/* text */

.text_right { text-align: right; }
.text_left { text-align: left; }
.text_center { text-align: center; }
.text_justify { text-align: justify; }

.text_bold { font-weight: bold; }
.text_italic { font-style: italic; }
.text_normal { font-style: normal; font-weight: normal; }

/* font-size */

.font_size_8 { font-size: 8px; }
.font_size_10 { font-size: 10px; }
.font_size_12 { font-size: 12px; }
.font_size_14 { font-size: 14px; }
.font_size_16 { font-size: 16px; }
.font_size_18 { font-size: 18px; }
.font_size_20 { font-size: 20px; }
.font_size_22 { font-size: 22px; }
.font_size_24 { font-size: 24px; }
.font_size_32 { font-size: 32px; }
.font_size_48 { font-size: 48px; }

/* position */

.center { margin: 0 auto !important; }
.float_left { float: left; }
.float_right { float: right; }
.float_none { float: none !important; }
.clear_both { clear: both; }
.clear_left { clear: left; }
.clear_right { clear: right; }
.relative { position: relative; }
.absolute { position: absolute; }
.vertical_align_top { vertical-align: top; }
.vertical_align_bottom { vertical-align: bottom; }
.vertical_align_middle { vertical-align: middle; }

/* display */

.hidden { display: none !important; }
.inline_block { display: inline-block; }
.table { display: table; }
.table_cell { display: table-cell; }
.block { display: block; }

.center_div {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* color */
.color_success {
	color: #3c763d;
}

.color_fail {
	color: #a94442;
}

/* image */

img.maxwidth { max-width: 100%; }
.background_image { background-repeat: no-repeat; background-size: contain; background-position: center; }

/* cursor */
.cursor_auto { cursor:auto; }
.cursor_none { cursor:none; }
.cursor_default { cursor:default; }
.cursor_initial { cursor:initial; }
.cursor_cell { cursor:cell; }
.cursor_crosshair { cursor:crosshair; }
.cursor_help { cursor:help; }
.cursor_move { cursor:move; }
.cursor_nodrop { cursor:no-drop; }
.cursor_pointer { cursor:pointer; }
.cursor_progress { cursor:progress; }
.cursor_text { cursor:text; }
.cursor_wait { cursor:wait; }
.cursor_zoomin { cursor:zoom-in; }
.cursor_zoomout { cursor:zoom-out; }

/* widths */

.width_256 {
	width: 256px;
}

/* HEADER */

header {
	color: var(--header_color);
	background-color: var(--header_background_color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	z-index: 99999;
	line-height: 16px;
}

header a {
	display: inline-block;
	box-sizing: border-box;
	padding: 8px 12px;
	height: 100%;
}

/* WRAPPER */

#wrapper {
    min-height: 100%;
	position: relative;
	background-color: var(--body_background_color);
}

/* FOOTER */

footer {
	color: var(--footer_color);
	background-color: var(--footer_background_color);
	padding: 8px 4px;
	line-height: 16px;
	text-align: right;
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
}

/* MAIN */

header + #main {
	padding-top: 32px;
	padding-bottom: 32px;
}

#main {
	height: 100%;
	overflow: auto;
}

#main_content {
	overflow: auto;
	padding: 8px;
}

#leftmenu_container + #main_content {
	margin-left: 200px;
}

/* MENU */

#leftmenu_back {
	position: fixed;
    top: 0;
	bottom: 0;
    z-index: 1;
	width: 200px;
	background-color: var(--menu_background_color);
}

#leftmenu {
	width: 200px;
	z-index: 9990;
	position: absolute;
	float: left;
}

#leftmenu .number_circle {
	background-color: #e53935;
	font-size: 12px;
}

#leftmenu h2 {
	color: #CCCCDD;
	background-color: #2A2A3B;
	font-size: 16px;
	padding: 8px 12px;
	margin: 0;
}

#leftmenu > ul {
	list-style:none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

#leftmenu > ul > li {
	position: relative;
}

#leftmenu > ul > li > a {
	display: block;
	color: #ccd;
	padding: 8px 12px;
	position: relative;
}

#leftmenu > ul > li > a > div {
	font-size: 18px;
}

#leftmenu > ul > li:hover {
	background-color: #112;
}

#leftmenu > ul > li > a:hover {
	color: #eef;
	text-decoration: none;
}

#leftmenu > ul > li > a.selected {
	background-color: #334;
	color: #fcc31d;
}

#leftmenu > ul > li > a.selected::after {
	content: "";
	position: absolute;
    right: 0;
    top: 50%;
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 12px 12px 0;
	border-color: transparent #f8f8f8 transparent transparent;
	margin-top: -12px;
}

/* SUBMENU */

#leftmenu > ul > li > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #445;
	font-size: 13px;
}

#leftmenu > ul > li > ul > li > a {
	display: block;
	color: #ccd;
	padding: 8px 12px;
}

#leftmenu > ul > li > ul > li > a:hover {
	color: #fcc31d;
	text-decoration: none;
}

#leftmenu > ul > li > ul > li > a.selected {
	font-weight: bold;
	color: #eef;
}

/* SUBMENU SIDE */

#leftmenu > ul > li > ul.pop_submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	width: 200px;
}

#leftmenu > ul > li:not(.selected):hover > ul.pop_submenu {
	display: block;
}

#leftmenu ul.pop_submenu > li > a:hover {
	background-color: #556;
}

/* LIST STYLE */
.list_style_default {
	list-style: disc;
	padding-left: 20px;
}

/* number info */

.number_circle {
	background-color: #888888;
    border-radius: 2em;
    color: #fff;
	font-weight: bold;
    display: inline-block;
    margin: 0 4px;
    padding: 0.5em 0.8em;
	font-size: 14px;
	vertical-align: top;
}

/* TABLE STYLE */

table {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	background-color: #fff;
}

table.vertical_align_top tr {
	vertical-align: top;
}

thead th, tfoot th {
	font-weight: normal;
	color: #778 !important;
}

thead th, tfoot th, tbody td {
	padding: 8px;
}

thead {
	border-bottom: 1px solid #ddd;
}

tfoot {
	border-top: 1px solid #ddd;
}

tbody > *:nth-child(2n+1) {
    background-color: #f0f0f4;
}

table tr .table_tr_hidden {
	display: none;
}

table tr:hover .table_tr_hidden {
	display: inline;
}

table tr .table_tr_button {
	margin: 0 4px;
}

/* FORM STYLE */

.button {
    background-color: #fcc31d;
    border-radius: 8px 8px 8px 8px;
    border-width: 0;
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none !important;
	transition: background-color 0.5s;
}

.button_margin {
	margin: 10px 0;
}

.button:hover {
	background-color: #ffdd93;
}

.button_gray {
	background-color: #BBB;
}

.button_gray:hover {
	background-color: #DDD;
}

.small_button {
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 6px;
}

textarea {
	min-height: 150px;
}

form select option:disabled {
	background-color: #EEE !important;
}

form.form_style > div:not(.no_style) {
	padding: 12px 0;
}

form.form_style div.style:not(.no_style) {
	padding: 12px 0;
}

form.form_style .info {
	color: #888;
	font-style: italic;
}

form.form_style label:not(.no_style), form.form_style .label {
	display: inline-block;
    font-weight: bold;
    width: 200px;
}

form.form_style .empty_label {
	display: inline-block;
    width: 200px;
}

form.form_style input[type="checkbox"] + label:not(.no_style), form.form_style input[type="radio"] + label:not(.no_style) {
    margin-left: 8px;
}

form.form_style input[type="text"]:not(#recaptcha_response_field), form.form_style input[type="password"], form.form_style select, form.form_style textarea, form.form_style input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 200px;
	background-color: #fff;
}

form.form_style input[type="text"]:disabled {
	background-color: #EEE !important;
	color: #888 !important;
}

form.form_style textarea {
	min-width: 400px;
}

form.form_style textarea.height_400px {
	min-height: 400px;
}

form.form_style input:not([type=submit]), form.form_style select, form.form_style textarea {
    padding: 4px 8px;
}

/* INLINE FORM */

form.form_inline {
	margin: 4px 0;
}

form.form_inline label {
	width: auto;
	margin-right: 12px;
}

form.form_inline .button {
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 6px;
}

/* BIG SELECT */

select.big_select {
	width: 100%;
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/* CHECKBOX HIDELABEL */

input[type="checkbox"].checkbox_hide {
	display: none;
}

input[type="checkbox"].checkbox_hide + label {
	background-color: #eee;
	display: block;
	cursor: pointer;
	background-image: url("../img/select_arrow_down_dark.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
}

input[type="checkbox"].checkbox_hide + label > h3 {
	padding-left: 32px;
}

input[type="checkbox"].checkbox_hide + label + div {
	display: none;
}

input[type="checkbox"].checkbox_hide + label:hover {
	background-color: #ddd;
}

input[type="checkbox"].checkbox_hide:checked + label {
	background-color: #fff;
	background-image: none;
}

input[type="checkbox"].checkbox_hide:checked + label:hover {
	background-color: #eee;
}

input[type="checkbox"].checkbox_hide:checked + label + div {
	display: block;
}

/* RADIO HIDELABEL */

input[type="radio"].radio_hide {
	display: none;
}

input[type="radio"].radio_hide + label {
	background-color: #eee;
	display: block;
	cursor: pointer;
	background-image: url("../img/select_arrow_down_dark.png");
    background-position: 8px 50%;
    background-repeat: no-repeat;
}

input[type="radio"].radio_hide + label > h3 {
	padding-left: 32px;
}

input[type="radio"].radio_hide + label:hover {
	background-color: #ddd;
}

input[type="radio"].radio_hide + label + div {
	display: none;
}

input[type="radio"].radio_hide:checked + label {
	background-color: #fff;
	background-image: none;
}

input[type="radio"].radio_hide:checked + label + div {
	display: block;
}

/* HORIZONTAL MENU */

ul.horizontal_menu {
	list-style:none;
	margin: 0;
	padding: 0;
	height: 100%;
}

ul.horizontal_menu li {
	display: block;
	float: left;
	height: 100%;
}

/* BOX CONTAINER */

.box_container {
	background-color: #FFF;
	border: 1px solid #DDD;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 20px;
}

.box_container h3:first-child {
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	padding: 12px;
	margin: 0;
}

.box_container > div {
	padding: 12px;
}

.box_container > div > table {
	margin-bottom: 12px;
}