ul.thumbnails.image_picker_selector {
overflow: auto;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding: 0px;
margin: 0px; }
ul.thumbnails.image_picker_selector ul {
overflow: auto;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding: 0px;
margin: 0px; }
ul.thumbnails.image_picker_selector li.group_title {
float: none; }
/*ul.thumbnails.image_picker_selector li {
margin: 0px 12px 12px 0px;
float: left; }*/
/*ul.thumbnails.image_picker_selector li .thumbnail {
padding: 6px;
border: 1px solid #dddddd;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}*/
/*ul.thumbnails.image_picker_selector li .thumbnail img {
-webkit-user-drag: none; }*/

ul.thumbnails.image_picker_selector li {
	text-align: center;
	width: 128px;
	margin: 5px;
	border: 1px solid #CCC;
	float: left;
	background: none repeat scroll 0 0 #EEEEEE;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
}
ul.thumbnails.image_picker_selector li .thumbnail {
	display: inline-block;
	height: 128px;
	width: 128px;
	line-height: 128px;	
}
ul.thumbnails.image_picker_selector li .thumbnail img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;	
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
background: #0088cc; }
