@charset "UTF-8";

@font-face {
  font-family: "moby-icons";
  src:url("moby-icons.eot");
  src:url("moby-icons.eot?#iefix") format("embedded-opentype"),
    url("moby-icons.woff") format("woff"),
    url("moby-icons.ttf") format("truetype"),
    url("moby-icons.svg#moby-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "moby-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="moby-"]:before,
[class*=" moby-"]:before {
  font-family: "moby-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moby-ac-profil:before {
  content: "\aca";
}
.moby-ac-catalyseur:before {
  content: "\acb";
}
.moby-ac-phone-1:before {
  content: "\acc";
}
.moby-ac-colis:before {
  content: "\acd";
}
.moby-news:before {
  content: "\6c";
}
.moby-calendar:before {
  content: "\6d";
}
.moby-survey:before {
  content: "\6f";
}
.moby-mail-2:before {
  content: "\6b";
}
.moby-profil-pro:before {
  content: "\70";
}
.moby-phone-2:before {
  content: "\67";
}
.moby-notification:before {
  content: "\6e";
}
.moby-profil-add:before {
  content: "\71";
}
.moby-chevron-bottom:before {
  content: "\75";
}
.moby-link:before {
  content: "\74";
}
.moby-web:before {
  content: "\73";
}
.moby-chevron-right:before {
  content: "\63";
}
.moby-chevron-left:before {
  content: "\62";
}
.moby-burger:before {
  content: "\61";
}
.moby-check:before {
  content: "\65";
}
.moby-cross:before {
  content: "\64";
}
.moby-mail-1:before {
  content: "\6a";
}
.moby-reload:before {
  content: "\72";
}
.moby-info-2:before {
  content: "\68";
}
.moby-info-1:before {
  content: "\69";
}
.moby-chevron-top:before {
  content: "\76";
}
.moby-search:before {
  content: "\77";
}
.moby-phone:before {
  content: "\66";
}
.moby-ac-girl:before {
  content: "\ace";
}
.moby-ac-home:before {
  content: "\acf";
}
.moby-ac-mail:before {
  content: "\ac";
}
.moby-ac-pencil:before {
  content: "\41";
}
.moby-ac-phone-2:before {
  content: "\43";
}
.moby-ac-trash:before {
  content: "\44";
}
.moby-ac-catalyseur-2:before {
  content: "\45";
}
