@font-face {
	font-family: 'Metrize-Icons';
	src:url('Metrize-Icons.eot');
	src:url('Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('Metrize-Icons.woff') format('woff'),
		url('Metrize-Icons.ttf') format('truetype'),
		url('Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your Icons */
[data-metrize]:before {
	font-family: 'Metrize-Icons';
	content: attr(data-metrize);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per metrize */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="metrize-"] {
*/
.metrize-yen, .metrize-world, .metrize-wireframe-globe, .metrize-wind, .metrize-wifi, .metrize-waves, .metrize-viewport, .metrize-viewport-video, .metrize-user, .metrize-user-remove, .metrize-user-ban, .metrize-user-add, .metrize-upload, .metrize-upload-selection, .metrize-upload-selection-circle, .metrize-underline, .metrize-triple-points, .metrize-top-bottom, .metrize-three-points, .metrize-three-points-top, .metrize-three-points-bottom, .metrize-text-width, .metrize-text-size-upper, .metrize-text-size-reduce, .metrize-text-paragraph, .metrize-text-normal, .metrize-text-justify-right, .metrize-text-justify-left, .metrize-text-justify-center, .metrize-text-height, .metrize-text-center, .metrize-text-bold, .metrize-text-align-right, .metrize-text-align-left, .metrize-telephone, .metrize-sunshine, .metrize-sun, .metrize-stop, .metrize-star, .metrize-speed, .metrize-sound-on, .metrize-sound-off, .metrize-sos, .metrize-social-zerply, .metrize-social-youtube, .metrize-social-yelp, .metrize-social-yahoo, .metrize-social-wordpress, .metrize-social-virb, .metrize-social-vimeo, .metrize-social-viddler, .metrize-social-twitter, .metrize-social-tumblr, .metrize-social-stumbleupon, .metrize-social-soundcloud, .metrize-social-skype, .metrize-social-sharethis, .metrize-social-quora, .metrize-social-pinterest, .metrize-social-photobucket, .metrize-social-paypal, .metrize-social-myspace, .metrize-social-linkedin, .metrize-social-last-fm, .metrize-social-grooveshark, .metrize-social-google-plus, .metrize-social-github, .metrize-social-forrst, .metrize-social-flickr, .metrize-social-facebook, .metrize-social-evernote, .metrize-social-envato, .metrize-social-email, .metrize-social-dribbble, .metrize-social-digg, .metrize-social-deviantart, .metrize-social-blogger, .metrize-social-behance, .metrize-social-bebo, .metrize-social-addthis, .metrize-social-500px, .metrize-snow, .metrize-sliders, .metrize-sliders-vertical, .metrize-sign-male, .metrize-sign-female, .metrize-shield, .metrize-settings, .metrize-setting, .metrize-select-square, .metrize-select-circle, .metrize-search, .metrize-scale, .metrize-rules, .metrize-rss, .metrize-retweet, .metrize-report-comment, .metrize-refresh, .metrize-rec, .metrize-random, .metrize-quote, .metrize-question, .metrize-previous-fast-step, .metrize-prev-step, .metrize-pounds, .metrize-podcast, .metrize-plus, .metrize-play, .metrize-pin, .metrize-pin-map, .metrize-pig-money, .metrize-pause, .metrize-paperclip, .metrize-paperclip-oblique, .metrize-options-settings, .metrize-officine, .metrize-officine-2, .metrize-off, .metrize-number-zero, .metrize-number-two, .metrize-number-three, .metrize-number-six, .metrize-number-seven, .metrize-number-one, .metrize-number-nine, .metrize-number-four, .metrize-number-five, .metrize-number-eight, .metrize-next-step, .metrize-next-fast-step, .metrize-music, .metrize-multi-borders, .metrize-minus, .metrize-marker, .metrize-marker-points, .metrize-marker-minus, .metrize-marker-add, .metrize-map, .metrize-male-symbol, .metrize-mailbox, .metrize-mail, .metrize-magnet, .metrize-magic-wand, .metrize-login-lock-refresh, .metrize-locked, .metrize-location, .metrize-location-maps, .metrize-list-square, .metrize-list-circle, .metrize-link-url, .metrize-line-through, .metrize-limit-directions, .metrize-like-upload, .metrize-like-remove, .metrize-like-download, .metrize-like-close, .metrize-like-ban, .metrize-like-add, .metrize-left-right, .metrize-leaf, .metrize-layers, .metrize-landscape, .metrize-key, .metrize-italic, .metrize-info, .metrize-idea, .metrize-home-wifi, .metrize-heart, .metrize-hdd, .metrize-hdd-raid, .metrize-hdd-net, .metrize-grids, .metrize-grid-big, .metrize-graphs, .metrize-forward, .metrize-fire, .metrize-female-symbol, .metrize-eye, .metrize-eye-disabled, .metrize-expand, .metrize-expand-vertical, .metrize-expand-horizontal, .metrize-expand-directions, .metrize-exclamation, .metrize-euro, .metrize-email-upload, .metrize-email-spam, .metrize-email-remove, .metrize-email-luminosity, .metrize-email-download, .metrize-email-close, .metrize-email-add, .metrize-eject, .metrize-drops, .metrize-drop, .metrize-download, .metrize-download-selection, .metrize-download-selection-circle, .metrize-double-diamonds, .metrize-dot-square, .metrize-dot-line, .metrize-dot-circle, .metrize-dollar, .metrize-documents, .metrize-document, .metrize-document-fill, .metrize-directions, .metrize-cross, .metrize-credit-card, .metrize-copy-paste-document, .metrize-copy-document, .metrize-contract-vertical, .metrize-contract-horizontal, .metrize-contract-directions, .metrize-compass, .metrize-compass-2, .metrize-comments, .metrize-comment, .metrize-coins, .metrize-cloud, .metrize-cloud-upload, .metrize-cloud-remove, .metrize-cloud-download, .metrize-cloud-add, .metrize-clock, .metrize-circles, .metrize-check, .metrize-chat, .metrize-chart-down, .metrize-cd-dvd-rom, .metrize-camera, .metrize-button-question, .metrize-button-minus, .metrize-button-exclamation, .metrize-button-email, .metrize-button-close, .metrize-button-check, .metrize-button-add, .metrize-brush, .metrize-browser-sizes, .metrize-box-remove, .metrize-box-close, .metrize-box-blank, .metrize-box-add, .metrize-bolt, .metrize-block-menu, .metrize-blank, .metrize-bezier, .metrize-bars, .metrize-ban-circle, .metrize-bag, .metrize-backward, .metrize-axis-rules, .metrize-atom, .metrize-arrow-up, .metrize-arrow-up-thin, .metrize-arrow-up-light, .metrize-arrow-up-bold, .metrize-arrow-up-bold-round, .metrize-arrow-up-big, .metrize-arrow-right, .metrize-arrow-right-thin, .metrize-arrow-right-light, .metrize-arrow-right-bold, .metrize-arrow-right-bold-round, .metrize-arrow-right-big, .metrize-arrow-oblique-expand, .metrize-arrow-oblique-expand-directions, .metrize-arrow-oblique-contract, .metrize-arrow-oblique-contract-directions, .metrize-arrow-multi-line-up, .metrize-arrow-multi-line-right, .metrize-arrow-multi-line-left, .metrize-arrow-multi-line-down, .metrize-arrow-left, .metrize-arrow-left-thin, .metrize-arrow-left-light, .metrize-arrow-left-bold, .metrize-arrow-left-bold-round, .metrize-arrow-left-big, .metrize-arrow-fill-up, .metrize-arrow-fill-right, .metrize-arrow-fill-left, .metrize-arrow-fill-down, .metrize-arrow-down, .metrize-arrow-down-thin, .metrize-arrow-down-light, .metrize-arrow-down-bold, .metrize-arrow-down-bold-round, .metrize-arrow-down-big, .metrize-arrow-cycling, .metrize-arrow-cycle, .metrize-arrow-curve-right, .metrize-arrow-curve-recycle, .metrize-arrow-curve-left, .metrize-animal-footprint, .metrize-alarm-clock, .metrize-air-plane, .metrize-adjust, .metrize-cube {
	font-family: 'Metrize-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.metrize-yen:before {
	content: "\e000";
}
.metrize-world:before {
	content: "\e001";
}
.metrize-wireframe-globe:before {
	content: "\e002";
}
.metrize-wind:before {
	content: "\e003";
}
.metrize-wifi:before {
	content: "\e004";
}
.metrize-waves:before {
	content: "\e005";
}
.metrize-viewport:before {
	content: "\e006";
}
.metrize-viewport-video:before {
	content: "\e007";
}
.metrize-user:before {
	content: "\e008";
}
.metrize-user-remove:before {
	content: "\e009";
}
.metrize-user-ban:before {
	content: "\e00a";
}
.metrize-user-add:before {
	content: "\e00b";
}
.metrize-upload:before {
	content: "\e00c";
}
.metrize-upload-selection:before {
	content: "\e00d";
}
.metrize-upload-selection-circle:before {
	content: "\e00e";
}
.metrize-underline:before {
	content: "\e00f";
}
.metrize-triple-points:before {
	content: "\e010";
}
.metrize-top-bottom:before {
	content: "\e011";
}
.metrize-three-points:before {
	content: "\e012";
}
.metrize-three-points-top:before {
	content: "\e013";
}
.metrize-three-points-bottom:before {
	content: "\e014";
}
.metrize-text-width:before {
	content: "\e015";
}
.metrize-text-size-upper:before {
	content: "\e016";
}
.metrize-text-size-reduce:before {
	content: "\e017";
}
.metrize-text-paragraph:before {
	content: "\e018";
}
.metrize-text-normal:before {
	content: "\e019";
}
.metrize-text-justify-right:before {
	content: "\e01a";
}
.metrize-text-justify-left:before {
	content: "\e01b";
}
.metrize-text-justify-center:before {
	content: "\e01c";
}
.metrize-text-height:before {
	content: "\e01d";
}
.metrize-text-center:before {
	content: "\e01e";
}
.metrize-text-bold:before {
	content: "\e01f";
}
.metrize-text-align-right:before {
	content: "\e020";
}
.metrize-text-align-left:before {
	content: "\e021";
}
.metrize-telephone:before {
	content: "\e022";
}
.metrize-sunshine:before {
	content: "\e023";
}
.metrize-sun:before {
	content: "\e024";
}
.metrize-stop:before {
	content: "\e025";
}
.metrize-star:before {
	content: "\e026";
}
.metrize-speed:before {
	content: "\e027";
}
.metrize-sound-on:before {
	content: "\e028";
}
.metrize-sound-off:before {
	content: "\e029";
}
.metrize-sos:before {
	content: "\e02a";
}
.metrize-social-zerply:before {
	content: "\e02b";
}
.metrize-social-youtube:before {
	content: "\e02c";
}
.metrize-social-yelp:before {
	content: "\e02d";
}
.metrize-social-yahoo:before {
	content: "\e02e";
}
.metrize-social-wordpress:before {
	content: "\e02f";
}
.metrize-social-virb:before {
	content: "\e030";
}
.metrize-social-vimeo:before {
	content: "\e031";
}
.metrize-social-viddler:before {
	content: "\e032";
}
.metrize-social-twitter:before {
	content: "\e033";
}
.metrize-social-tumblr:before {
	content: "\e034";
}
.metrize-social-stumbleupon:before {
	content: "\e035";
}
.metrize-social-soundcloud:before {
	content: "\e036";
}
.metrize-social-skype:before {
	content: "\e037";
}
.metrize-social-sharethis:before {
	content: "\e038";
}
.metrize-social-quora:before {
	content: "\e039";
}
.metrize-social-pinterest:before {
	content: "\e03a";
}
.metrize-social-photobucket:before {
	content: "\e03b";
}
.metrize-social-paypal:before {
	content: "\e03c";
}
.metrize-social-myspace:before {
	content: "\e03d";
}
.metrize-social-linkedin:before {
	content: "\e03e";
}
.metrize-social-last-fm:before {
	content: "\e03f";
}
.metrize-social-grooveshark:before {
	content: "\e040";
}
.metrize-social-google-plus:before {
	content: "\e041";
}
.metrize-social-github:before {
	content: "\e042";
}
.metrize-social-forrst:before {
	content: "\e043";
}
.metrize-social-flickr:before {
	content: "\e044";
}
.metrize-social-facebook:before {
	content: "\e045";
}
.metrize-social-evernote:before {
	content: "\e046";
}
.metrize-social-envato:before {
	content: "\e047";
}
.metrize-social-email:before {
	content: "\e048";
}
.metrize-social-dribbble:before {
	content: "\e049";
}
.metrize-social-digg:before {
	content: "\e04a";
}
.metrize-social-deviantart:before {
	content: "\e04b";
}
.metrize-social-blogger:before {
	content: "\e04c";
}
.metrize-social-behance:before {
	content: "\e04d";
}
.metrize-social-bebo:before {
	content: "\e04e";
}
.metrize-social-addthis:before {
	content: "\e04f";
}
.metrize-social-500px:before {
	content: "\e050";
}
.metrize-snow:before {
	content: "\e051";
}
.metrize-sliders:before {
	content: "\e052";
}
.metrize-sliders-vertical:before {
	content: "\e053";
}
.metrize-sign-male:before {
	content: "\e054";
}
.metrize-sign-female:before {
	content: "\e055";
}
.metrize-shield:before {
	content: "\e056";
}
.metrize-settings:before {
	content: "\e057";
}
.metrize-setting:before {
	content: "\e058";
}
.metrize-select-square:before {
	content: "\e059";
}
.metrize-select-circle:before {
	content: "\e05a";
}
.metrize-search:before {
	content: "\e05b";
}
.metrize-scale:before {
	content: "\e05c";
}
.metrize-rules:before {
	content: "\e05d";
}
.metrize-rss:before {
	content: "\e05e";
}
.metrize-retweet:before {
	content: "\e05f";
}
.metrize-report-comment:before {
	content: "\e060";
}
.metrize-refresh:before {
	content: "\e061";
}
.metrize-rec:before {
	content: "\e062";
}
.metrize-random:before {
	content: "\e063";
}
.metrize-quote:before {
	content: "\e064";
}
.metrize-question:before {
	content: "\e065";
}
.metrize-previous-fast-step:before {
	content: "\e066";
}
.metrize-prev-step:before {
	content: "\e067";
}
.metrize-pounds:before {
	content: "\e068";
}
.metrize-podcast:before {
	content: "\e069";
}
.metrize-plus:before {
	content: "\e06a";
}
.metrize-play:before {
	content: "\e06b";
}
.metrize-pin:before {
	content: "\e06c";
}
.metrize-pin-map:before {
	content: "\e06d";
}
.metrize-pig-money:before {
	content: "\e06e";
}
.metrize-pause:before {
	content: "\e06f";
}
.metrize-paperclip:before {
	content: "\e070";
}
.metrize-paperclip-oblique:before {
	content: "\e071";
}
.metrize-options-settings:before {
	content: "\e072";
}
.metrize-officine:before {
	content: "\e073";
}
.metrize-officine-2:before {
	content: "\e074";
}
.metrize-off:before {
	content: "\e075";
}
.metrize-number-zero:before {
	content: "\e076";
}
.metrize-number-two:before {
	content: "\e077";
}
.metrize-number-three:before {
	content: "\e078";
}
.metrize-number-six:before {
	content: "\e079";
}
.metrize-number-seven:before {
	content: "\e07a";
}
.metrize-number-one:before {
	content: "\e07b";
}
.metrize-number-nine:before {
	content: "\e07c";
}
.metrize-number-four:before {
	content: "\e07d";
}
.metrize-number-five:before {
	content: "\e07e";
}
.metrize-number-eight:before {
	content: "\e07f";
}
.metrize-next-step:before {
	content: "\e080";
}
.metrize-next-fast-step:before {
	content: "\e081";
}
.metrize-music:before {
	content: "\e082";
}
.metrize-multi-borders:before {
	content: "\e083";
}
.metrize-minus:before {
	content: "\e084";
}
.metrize-marker:before {
	content: "\e085";
}
.metrize-marker-points:before {
	content: "\e086";
}
.metrize-marker-minus:before {
	content: "\e087";
}
.metrize-marker-add:before {
	content: "\e088";
}
.metrize-map:before {
	content: "\e089";
}
.metrize-male-symbol:before {
	content: "\e08a";
}
.metrize-mailbox:before {
	content: "\e08b";
}
.metrize-mail:before {
	content: "\e08c";
}
.metrize-magnet:before {
	content: "\e08d";
}
.metrize-magic-wand:before {
	content: "\e08e";
}
.metrize-login-lock-refresh:before {
	content: "\e08f";
}
.metrize-locked:before {
	content: "\e090";
}
.metrize-location:before {
	content: "\e091";
}
.metrize-location-maps:before {
	content: "\e092";
}
.metrize-list-square:before {
	content: "\e093";
}
.metrize-list-circle:before {
	content: "\e094";
}
.metrize-link-url:before {
	content: "\e095";
}
.metrize-line-through:before {
	content: "\e096";
}
.metrize-limit-directions:before {
	content: "\e097";
}
.metrize-like-upload:before {
	content: "\e098";
}
.metrize-like-remove:before {
	content: "\e099";
}
.metrize-like-download:before {
	content: "\e09a";
}
.metrize-like-close:before {
	content: "\e09b";
}
.metrize-like-ban:before {
	content: "\e09c";
}
.metrize-like-add:before {
	content: "\e09d";
}
.metrize-left-right:before {
	content: "\e09e";
}
.metrize-leaf:before {
	content: "\e09f";
}
.metrize-layers:before {
	content: "\e0a0";
}
.metrize-landscape:before {
	content: "\e0a1";
}
.metrize-key:before {
	content: "\e0a2";
}
.metrize-italic:before {
	content: "\e0a3";
}
.metrize-info:before {
	content: "\e0a4";
}
.metrize-idea:before {
	content: "\e0a5";
}
.metrize-home-wifi:before {
	content: "\e0a6";
}
.metrize-heart:before {
	content: "\e0a7";
}
.metrize-hdd:before {
	content: "\e0a8";
}
.metrize-hdd-raid:before {
	content: "\e0a9";
}
.metrize-hdd-net:before {
	content: "\e0aa";
}
.metrize-grids:before {
	content: "\e0ab";
}
.metrize-grid-big:before {
	content: "\e0ac";
}
.metrize-graphs:before {
	content: "\e0ad";
}
.metrize-forward:before {
	content: "\e0ae";
}
.metrize-fire:before {
	content: "\e0af";
}
.metrize-female-symbol:before {
	content: "\e0b0";
}
.metrize-eye:before {
	content: "\e0b1";
}
.metrize-eye-disabled:before {
	content: "\e0b2";
}
.metrize-expand:before {
	content: "\e0b3";
}
.metrize-expand-vertical:before {
	content: "\e0b4";
}
.metrize-expand-horizontal:before {
	content: "\e0b5";
}
.metrize-expand-directions:before {
	content: "\e0b6";
}
.metrize-exclamation:before {
	content: "\e0b7";
}
.metrize-euro:before {
	content: "\e0b8";
}
.metrize-email-upload:before {
	content: "\e0b9";
}
.metrize-email-spam:before {
	content: "\e0ba";
}
.metrize-email-remove:before {
	content: "\e0bb";
}
.metrize-email-luminosity:before {
	content: "\e0bc";
}
.metrize-email-download:before {
	content: "\e0bd";
}
.metrize-email-close:before {
	content: "\e0be";
}
.metrize-email-add:before {
	content: "\e0bf";
}
.metrize-eject:before {
	content: "\e0c0";
}
.metrize-drops:before {
	content: "\e0c1";
}
.metrize-drop:before {
	content: "\e0c2";
}
.metrize-download:before {
	content: "\e0c3";
}
.metrize-download-selection:before {
	content: "\e0c4";
}
.metrize-download-selection-circle:before {
	content: "\e0c5";
}
.metrize-double-diamonds:before {
	content: "\e0c6";
}
.metrize-dot-square:before {
	content: "\e0c7";
}
.metrize-dot-line:before {
	content: "\e0c8";
}
.metrize-dot-circle:before {
	content: "\e0c9";
}
.metrize-dollar:before {
	content: "\e0ca";
}
.metrize-documents:before {
	content: "\e0cb";
}
.metrize-document:before {
	content: "\e0cc";
}
.metrize-document-fill:before {
	content: "\e0cd";
}
.metrize-directions:before {
	content: "\e0ce";
}
.metrize-cross:before {
	content: "\e0cf";
}
.metrize-credit-card:before {
	content: "\e0d0";
}
.metrize-copy-paste-document:before {
	content: "\e0d1";
}
.metrize-copy-document:before {
	content: "\e0d2";
}
.metrize-contract-vertical:before {
	content: "\e0d3";
}
.metrize-contract-horizontal:before {
	content: "\e0d4";
}
.metrize-contract-directions:before {
	content: "\e0d5";
}
.metrize-compass:before {
	content: "\e0d6";
}
.metrize-compass-2:before {
	content: "\e0d7";
}
.metrize-comments:before {
	content: "\e0d8";
}
.metrize-comment:before {
	content: "\e0d9";
}
.metrize-coins:before {
	content: "\e0da";
}
.metrize-cloud:before {
	content: "\e0db";
}
.metrize-cloud-upload:before {
	content: "\e0dc";
}
.metrize-cloud-remove:before {
	content: "\e0dd";
}
.metrize-cloud-download:before {
	content: "\e0de";
}
.metrize-cloud-add:before {
	content: "\e0df";
}
.metrize-clock:before {
	content: "\e0e0";
}
.metrize-circles:before {
	content: "\e0e1";
}
.metrize-check:before {
	content: "\e0e2";
}
.metrize-chat:before {
	content: "\e0e3";
}
.metrize-chart-down:before {
	content: "\e0e4";
}
.metrize-cd-dvd-rom:before {
	content: "\e0e5";
}
.metrize-camera:before {
	content: "\e0e6";
}
.metrize-button-question:before {
	content: "\e0e7";
}
.metrize-button-minus:before {
	content: "\e0e8";
}
.metrize-button-exclamation:before {
	content: "\e0e9";
}
.metrize-button-email:before {
	content: "\e0ea";
}
.metrize-button-close:before {
	content: "\e0eb";
}
.metrize-button-check:before {
	content: "\e0ec";
}
.metrize-button-add:before {
	content: "\e0ed";
}
.metrize-brush:before {
	content: "\e0ee";
}
.metrize-browser-sizes:before {
	content: "\e0ef";
}
.metrize-box-remove:before {
	content: "\e0f0";
}
.metrize-box-close:before {
	content: "\e0f1";
}
.metrize-box-blank:before {
	content: "\e0f2";
}
.metrize-box-add:before {
	content: "\e0f3";
}
.metrize-bolt:before {
	content: "\e0f4";
}
.metrize-block-menu:before {
	content: "\e0f5";
}
.metrize-blank:before {
	content: "\e0f6";
}
.metrize-bezier:before {
	content: "\e0f7";
}
.metrize-bars:before {
	content: "\e0f8";
}
.metrize-ban-circle:before {
	content: "\e0f9";
}
.metrize-bag:before {
	content: "\e0fa";
}
.metrize-backward:before {
	content: "\e0fb";
}
.metrize-axis-rules:before {
	content: "\e0fc";
}
.metrize-atom:before {
	content: "\e0fd";
}
.metrize-arrow-up:before {
	content: "\e0fe";
}
.metrize-arrow-up-thin:before {
	content: "\e0ff";
}
.metrize-arrow-up-light:before {
	content: "\e100";
}
.metrize-arrow-up-bold:before {
	content: "\e101";
}
.metrize-arrow-up-bold-round:before {
	content: "\e102";
}
.metrize-arrow-up-big:before {
	content: "\e103";
}
.metrize-arrow-right:before {
	content: "\e104";
}
.metrize-arrow-right-thin:before {
	content: "\e105";
}
.metrize-arrow-right-light:before {
	content: "\e106";
}
.metrize-arrow-right-bold:before {
	content: "\e107";
}
.metrize-arrow-right-bold-round:before {
	content: "\e108";
}
.metrize-arrow-right-big:before {
	content: "\e109";
}
.metrize-arrow-oblique-expand:before {
	content: "\e10a";
}
.metrize-arrow-oblique-expand-directions:before {
	content: "\e10b";
}
.metrize-arrow-oblique-contract:before {
	content: "\e10c";
}
.metrize-arrow-oblique-contract-directions:before {
	content: "\e10d";
}
.metrize-arrow-multi-line-up:before {
	content: "\e10e";
}
.metrize-arrow-multi-line-right:before {
	content: "\e10f";
}
.metrize-arrow-multi-line-left:before {
	content: "\e110";
}
.metrize-arrow-multi-line-down:before {
	content: "\e111";
}
.metrize-arrow-left:before {
	content: "\e112";
}
.metrize-arrow-left-thin:before {
	content: "\e113";
}
.metrize-arrow-left-light:before {
	content: "\e114";
}
.metrize-arrow-left-bold:before {
	content: "\e115";
}
.metrize-arrow-left-bold-round:before {
	content: "\e116";
}
.metrize-arrow-left-big:before {
	content: "\e117";
}
.metrize-arrow-fill-up:before {
	content: "\e118";
}
.metrize-arrow-fill-right:before {
	content: "\e119";
}
.metrize-arrow-fill-left:before {
	content: "\e11a";
}
.metrize-arrow-fill-down:before {
	content: "\e11b";
}
.metrize-arrow-down:before {
	content: "\e11c";
}
.metrize-arrow-down-thin:before {
	content: "\e11d";
}
.metrize-arrow-down-light:before {
	content: "\e11e";
}
.metrize-arrow-down-bold:before {
	content: "\e11f";
}
.metrize-arrow-down-bold-round:before {
	content: "\e120";
}
.metrize-arrow-down-big:before {
	content: "\e121";
}
.metrize-arrow-cycling:before {
	content: "\e122";
}
.metrize-arrow-cycle:before {
	content: "\e123";
}
.metrize-arrow-curve-right:before {
	content: "\e124";
}
.metrize-arrow-curve-recycle:before {
	content: "\e125";
}
.metrize-arrow-curve-left:before {
	content: "\e126";
}
.metrize-animal-footprint:before {
	content: "\e127";
}
.metrize-alarm-clock:before {
	content: "\e128";
}
.metrize-air-plane:before {
	content: "\e129";
}
.metrize-adjust:before {
	content: "\e12a";
}
.metrize-cube:before {
	content: "\e12b";
}
